<!-- Validation failure messages -->
<% if @mycellarwine.errors.any? %>
  <% @mycellarwine.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Mycellarwine #<%= @mycellarwine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_mycellarwine/<%= @mycellarwine.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for wine_name -->
      <div class="form-group">
        <label for="wine_name" class="control-label">
          Wine name
        </label>

        <input type="text" id="wine_name" name="wine_name" placeholder="Wine name" class="form-control" value="<%= @mycellarwine.wine_name %>">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @mycellarwine.year %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @mycellarwine.price %>">
      </div>

      <!-- Label and input for varietal_id -->
      <div class="form-group">
        <label for="varietal_id" class="control-label">
          Varietal
        </label>

        <input type="text" id="varietal_id" name="varietal_id" placeholder="Varietal" class="form-control" value="<%= @mycellarwine.varietal_id %>">
      </div>

      <!-- Label and input for winery -->
      <div class="form-group">
        <label for="winery" class="control-label">
          Winery
        </label>

        <input type="text" id="winery" name="winery" placeholder="Winery" class="form-control" value="<%= @mycellarwine.winery %>">
      </div>

      <!-- Label and input for bucket_list_wine -->
      <div class="checkbox">
        <label for="bucket_list_wine">
          <input type="checkbox" id="bucket_list_wine" name="bucket_list_wine" value="1" <%= "checked" if @mycellarwine.bucket_list_wine %>>
          Bucket list wine
        </label>
      </div>

      <!-- Label and input for image_id -->
      <div class="form-group">
        <label for="image_id" class="control-label">
          Image
        </label>

        <input type="text" id="image_id" name="image_id" placeholder="Image" class="form-control" value="<%= @mycellarwine.image_id %>">
      </div>

      <button class="btn btn-warning">
        Update Mycellarwine
      </button>
      or
      <a href="/mycellarwines/<%= @mycellarwine.id %>">Cancel</a>
    </form>
  </div>
</div>
