<div class="page-header">
  <h1>
    My Cellar
    <a href="/mycellarwines/new" class="btn btn-lg btn-success">Add a New Wine to my Cellar</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Wine Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Varietal</th>
        <th>Winery</th>
        <th>Bucket List</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>

      <% @mycellarwines.each do |mycellarwine| %>
      <tr>
        <td><%= mycellarwine.wine_name %></td>
        <td><%= mycellarwine.year %></td>
        <td><%= mycellarwine.price %></td>
        <td><%= mycellarwine.varietal_id %></td>
        <td><%= mycellarwine.winery %></td>
        <td><%= mycellarwine.bucket_list_wine %></td>
        <td><%= mywineslist.image_id %></td>
        <td>
          <a href="/mycellarwines/<%= mycellarwine.id %>" class="btn btn-primary">Show</a>
          <a href="/mycellarwines/<%= mycellarwine.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_mycellarwine/<%= mycellarwine.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
