<h1>Results</h1>


<div><h2>First Wine</h2>
<p><%= @winename1 %> <%= @varietal1 %> <%= @vintage1 %>
<%= @winery1 %>
<%= @image1 %></p>
</div>


<div><h2>Second Wine</h2>
<p><%= @winename2 %> <%= @varietal2 %> <%= @vintage2 %>
<%= @winery2 %>
<%= @image2 %></p>
</div>
