<!-- Validation failure messages -->
<% if @varietal.errors.any? %>
  <% @varietal.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Varietal #<%= @varietal.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_varietal/<%= @varietal.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for varietal_name -->
      <div class="form-group">
        <label for="varietal_name" class="control-label">
          Varietal name
        </label>

        <input type="text" id="varietal_name" name="varietal_name" placeholder="Varietal name" class="form-control" value="<%= @varietal.varietal_name %>">
      </div>

      <button class="btn btn-warning">
        Update Varietal
      </button>
      or
      <a href="/varietals/<%= @varietal.id %>">Cancel</a>
    </form>
  </div>
</div>
