<div class="page-header">
  <h1>
    My Wines
    <a href="/mywineslist/new" class="btn btn-lg btn-success">Add a New Wine</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Winename</th>
        <th>Year</th>
        <th>Price</th>
        <th>Varietal</th>
        <th>Winery</th>
        <th>Bucketlist</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>

      <% @mywineslist.each do |mywineslist| %>
      <tr>
        <td><%= mywineslist.winename %></td>
        <td><%= mywineslist.year %></td>
        <td><%= mywineslist.price %></td>
        <td><%= mywineslist.varietal %></td>
        <td><%= mywineslist.winery %></td>
        <td><%= mywineslist.bucketlist %></td>
        <td><%= mywineslist.image_id %></td>
        <td>
          <a href="/mywineslist/<%= mywineslist.id %>" class="btn btn-primary">Show</a>
          <a href="/mywineslist/<%= mywineslist.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_mywineslist/<%= mywineslist.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
