<div class="page-header">
  <h3>Mywineslist #<%= @mywineslist.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Winename</dt>
      <dd><%= @mywineslist.winename %></dd>

      <dt>Year</dt>
      <dd><%= @mywineslist.year %></dd>

      <dt>Price</dt>
      <dd><%= @mywineslist.price %></dd>

      <dt>Varietal</dt>
      <dd><%= @mywineslist.varietal %></dd>

      <dt>Winery</dt>
      <dd><%= @mywineslist.winery %></dd>

      <dt>Bucketlist</dt>
      <dd><%= @mywineslist.bucketlist %></dd>

      <dt>Image</dt>
      <dd><%= @mywineslist.image_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/mywineslist" class="btn btn-primary">
        Back
      </a>
      <a href="/mywineslist/<%= @mywineslist.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_mywineslist/<%= @mywineslist.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
