<!-- Validation failure messages -->
<% if @wine.errors.any? %>
  <% @wine.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Wine</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_wine" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @wine.name %>">
      </div>

      <!-- Label and input for year -->
      <div class="form-group">
        <label for="year" class="control-label">
          Year
        </label>

        <input type="text" id="year" name="year" placeholder="Year" class="form-control" value="<%= @wine.year %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @wine.price %>">
      </div>

      <!-- Label and input for varietal_id -->
      <div class="form-group">
        <label for="varietal_id" class="control-label">
          Varietal
        </label>

        <input type="text" id="varietal_id" name="varietal_id" placeholder="Varietal" class="form-control" value="<%= @wine.varietal_id %>">
      </div>

      <!-- Label and input for winery -->
      <div class="form-group">
        <label for="winery" class="control-label">
          Winery
        </label>

        <input type="text" id="winery" name="winery" placeholder="Winery" class="form-control" value="<%= @wine.winery %>">
      </div>

      <button class="btn btn-success">
        Create Wine
      </button>
      or
      <a href="/wines">Cancel</a>
    </form>
  </div>
</div>
